{% extends "bootstrap/base.html" %}
{% block title %}
    Arbot
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="img-fluid mr-2" src="static/gold_draven_icon.jpg">
  <a class="navbar-brand" style="font-size: 25px"> Arbot </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        Free money since 2022
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  setTimeout(function() {
    window.location.reload();
  }, {{ ms_until_refresh }})
</script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')
</script>
<script src="{{ url_for('static', filename='form.js') }}"></script>
<div style="height: 1000px;">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="row justify-content-start" style="margin-top: 50px; margin-bottom:30px;">
        <div class="col-3">
          <div class="scrollable" style="overflow-y: scroll; max-height: 900px;">
            <ul class="list-group">
              {% for arb in arbs %}
              <form id="select_arb_form">
                  <button type="submit" value="{{ loop.index - 1 }}"
                          class="list-group-item list-group-item-action text-center">
                    {{ arb.profit }} - {{ arb.team_a }} versus {{ arb.team_b }}
                  </button>
              </form>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-6 text-center">
          <table class="table">
            <thead class="thead-light">
              <tr>
                  <th scope="col"></th>
                  <th scope="col"> Team A </th>
                  <th scope="col"> Team B </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"> Name </th>
                <td id="team_a_cell"> </td>
                <td id="team_b_cell"> </td>
              </tr>
              <tr>
                <th scope="row"> Bookmaker </th>
                <td id="bookmaker_a_cell"> </td>
                <td id="bookmaker_b_cell"> </td>
              </tr>
              <tr>
                <th scope="row"> Odds </th>
                <td id="odds_a_cell"> </td>
                <td id="odds_b_cell"> </td>
              </tr>
              <tr>
                <th scope="row"> To bet </th>
                <td id="to_bet_a_cell"></td>
                <td id="to_bet_b_cell"></td>
              </tr>
            </tbody>
          </table>
        <div class="form-group">
          <form id="new_investment_form">
            <input type="hidden" id="investment_odds_a" value="1">
            <input type="hidden" id="investment_odds_b" value="1">
            <input type="number" id="new_investment" name="new_investment" class="form-control"
                   placeholder="Enter bet return">
          </form>
        </div>
        <table class="table">
        <tbody>
          <tr>
            <th scope="row"> Profit </th>
            <td id="profit_cell"> </td>
          </tr>
          <tr>
            <th scope="row"> Category </th>
            <td id="category_cell" > </td>
          </tr>
          <tr>
            <th scope="row"> Match Start </th>
            <td id="commence_time_cell"> </td>
          </tr>
          <tr>
            <th scope="row"> API Requests Remaining </th>
            <td id="remaining_requests_cell"> </td>
          </tr>
          <tr>
            <th scope="row"> Next API Request </th>
            <td id="next_update_cell"> </td>
          </tr>
        </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}