{% extends "bootstrap/base.html" %}
{% block title %}
    Arbot
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Arbot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <h5> Arbitrage Robot </h5>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')
</script>
<script src="{{ url_for('static', filename='form.js') }}"></script>
<div style="height: 1000px;">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="row justify-content-start" style="margin-top: 50px; margin-bottom:30px;">
        <div class="col-3">
          <div class="scrollable" style="overflow-y: scroll; max-height: 900px;">
            <ul class="list-group">
              {% for arb in arbs %}
              <form id="select_arb_form">
                  <input type="hidden" id="select_arb_index" name="select_arb_index"
                         value="{{ loop.index - 1 }}">
                  <button type="submit" class="list-group-item list-group-item-action text-center">
                    {{ arb.team_a }} versus {{ arb.team_b }}
                  </button>
              </form>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-6 text-center">
          <table class="table">
            <thead class="thead-light">
              <tr>
                  <th scope="col"></th>
                  <th scope="col"> Team A </th>
                  <th scope="col"> Team B </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"> Name </th>
                <td id="team_a_cell"> </td>
                <td id="team_b_cell"> </td>
              </tr>
              <tr>
                <th scope="row"> Bookmaker </th>
                <td id="bookmaker_a_cell"> </td>
                <td id="bookmaker_b_cell"> </td>
              </tr>
              <tr>
                <th scope="row"> Odds </th>
                <td id="odds_a_cell"> </td>
                <td id="odds_b_cell"> </td>
              </tr>
              <tr>
                <th scope="row"> To bet </th>
                <td id="to_bet_a_cell"></td>
                <td id="to_bet_b_cell"></td>
              </tr>
            </tbody>
          </table>
        <div class="form-group">
          <form id="new_investment_form">
            <input type="hidden" id="investment_odds_a" value="">
            <input type="hidden" id="investment_odds_b" value="">
            <input type="number" id="new_investment" name="new_investment" class="form-control"
                   placeholder="Enter your investment">
          </form>
        </div>
        <table class="table">
        <tbody>
          <tr>
            <th scope="row"> Profit </th>
            <td id="profit_cell"> </td>
          </tr>
          <tr>
            <th scope="row"> Category </th>
            <td id="category_cell" > </td>
          </tr>
          <tr>
            <th scope="row"> Starts </th>
            <td id="commence_time_cell"> </td>
          </tr>
        </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}